@{
    ViewBag.Title = "ResetPasswordSuccess";
    Layout = "~/Views/Layouts/_Basic.cshtml";
}

<div class="bs-callout bs-callout-success row">
    <p>
        Your password has been reset successfully.
    </p>

    <p>
        You should receive an email with your new password shortly.
    </p>

    @Html.ActionLink("Back to Login Screen", "Login", "Account")
</div>

