@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Layouts/_Basic.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-center-block">
            <div class="bs-callout bs-callout-success row">
                <h4>Change Password Success</h4>
                <p>
                    Your password has been successfully changed.  Please click @Html.ActionLink("here", "Index", "Home") to go to Test and Learn.
                </p>
            </div>
        </div>
    </div>
</div>
